#nav-portfolio {
    color: #5FB4A2;
}

#bookmarks {
    display: flex;

    flex-direction: column;
    justify-content: space-between;
    height: 2240px;
}

.projeto {
    max-height: 500px;
}

.projeto img {
    max-width: 37.5vw;
    object-fit: cover;
}

.intro {
    display: flex;

    flex-direction: column;
    justify-content: space-evenly;
    padding: 50px 0;
    width: 39%;
    border-top-style: solid;
    border-bottom-style: solid;


    border-color: #EAEAEB;
}